.medicine-gallery {
    padding: 20px;
    text-align: center;
}

.medicine-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.medicine-item {
    width: 18%;
    margin: 15px;
    text-align: center;
}

.medicine-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.medicine-item h3 {
    margin-top: 10px;
    font-size: 1.2em;
}

.medicine-item p {
    font-size: 0.9em;
    color: #555;
}
